In [60]:
import pandas as pd
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [61]:
import pandas as pd

df = pd.read_csv("/content/final_food_delivery_dataset.csv")

df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [62]:
gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

gold_city_revenue

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [63]:
cuisine_avg_order = (
    df.groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

cuisine_avg_order

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [64]:
user_total_spend = (
    df.groupby("user_id")["total_amount"]
    .sum()
)

count_users = (user_total_spend > 1000).sum()
count_users

np.int64(2544)

In [65]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0–3.5", "3.6–4.0", "4.1–4.5", "4.6–5.0"]

df["rating_range"] = pd.cut(df["rating"], bins=bins, labels=labels, include_lowest=True)

rating_revenue = (
    df.groupby("rating_range")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

rating_revenue

/tmp/ipython-input-1177544458.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("rating_range")["total_amount"]

rating_range
4.6–5.0    2197030.75
3.0–3.5    2136772.70
4.1–4.5    1960326.26
3.6–4.0    1717494.41
Name: total_amount, dtype: float64

In [66]:
gold_city_avg = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

gold_city_avg

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [67]:
cuisine_stats = (
    df.groupby("cuisine")
    .agg(
        restaurant_count=("restaurant_id", "nunique"),
        revenue=("total_amount", "sum")
    )
    .sort_values("restaurant_count")
)

cuisine_stats

         restaurant_count     revenue
cuisine
Chinese               120  1930504.65
Indian                126  1971412.58
Italian               126  2024203.80
Mexican               128  2085503.09

In [68]:
total_orders = len(df)
gold_orders = len(df[df["membership"] == "Gold"])

percentage = round((gold_orders / total_orders) * 100)
percentage

50

In [69]:
restaurant_stats = (
    df.groupby("restaurant_name_y")
    .agg(
        total_orders=("total_amount", "count"),
        avg_order_value=("total_amount", "mean")
    )
)

In [70]:
filtered = restaurant_stats[
    restaurant_stats["total_orders"] < 20
].sort_values("avg_order_value", ascending=False)

filtered.head(10)

                   total_orders  avg_order_value
restaurant_name_y
Restaurant_294               13      1040.222308
Restaurant_262               18      1029.473333
Restaurant_77                12      1029.180833
Restaurant_193               15      1026.306667
Restaurant_7                 16      1002.140625
Restaurant_298               15       989.822000
Restaurant_56                18       989.467222
Restaurant_135               18       988.702222
Restaurant_343               17       986.026471
Restaurant_312               14       982.730000

In [71]:
restaurant_map = (
    df[["restaurant_name_y", "restaurant_name_x"]]
    .drop_duplicates()
    .set_index("restaurant_name_y")["restaurant_name_x"]
)

In [72]:
filtered["restaurant_name_x"] = filtered.index.map(restaurant_map)

In [73]:
final_answer = filtered.reset_index()
final_answer

,restaurant_name_y,total_orders,avg_order_value,restaurant_name_x
0,Restaurant_294,13,1040.222308,Hotel Dhaba Multicuisine
1,Restaurant_262,18,1029.473333,Hotel Cafe Punjabi
2,Restaurant_77,12,1029.180833,Sri Mess Punjabi
3,Restaurant_193,15,1026.306667,Swagath Eatery Multicuisine
4,Restaurant_7,16,1002.140625,Ruchi Biryani Punjabi
...,...,...,...,...
236,Restaurant_184,19,621.828947,Annapurna Tiffins Punjabi
237,Restaurant_498,18,596.815556,Darbar Tiffins Non-Veg
238,Restaurant_192,14,589.972857,Darbar Restaurant Punjabi
239,Restaurant_329,15,578.578667,Spice Tiffins Pure Veg
240,Restaurant_300,17,572.686471,Ruchi Mess Punjabi

In [74]:
df.groupby(["restaurant_name_y", "restaurant_name_x"])["total_amount"] \
  .agg(total_orders="count", avg_order_value="mean") \
  .query("total_orders < 20") \
  .sort_values("avg_order_value", ascending=False)

                                               total_orders  avg_order_value
restaurant_name_y restaurant_name_x
Restaurant_294    Hotel Dhaba Multicuisine               13      1040.222308
Restaurant_262    Hotel Cafe Punjabi                     18      1029.473333
Restaurant_77     Sri Mess Punjabi                       12      1029.180833
Restaurant_193    Swagath Eatery Multicuisine            15      1026.306667
Restaurant_7      Ruchi Biryani Punjabi                  16      1002.140625
...                                                     ...              ...
Restaurant_184    Annapurna Tiffins Punjabi              19       621.828947
Restaurant_498    Darbar Tiffins Non-Veg                 18       596.815556
Restaurant_192    Darbar Restaurant Punjabi              14       589.972857
Restaurant_329    Spice Tiffins Pure Veg                 15       578.578667
Restaurant_300    Ruchi Mess Punjabi                     17       572.686471

[241 rows x 2 columns]

In [75]:
combo_revenue = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

combo_revenue

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [76]:
df["order_date"] = pd.to_datetime(df["order_date"])
df["quarter"] = df["order_date"].dt.to_period("Q")

quarter_revenue = (
    df.groupby("quarter")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

quarter_revenue

/tmp/ipython-input-770322229.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [77]:
gold_orders = df[df['membership'] == 'Gold'].shape[0]
gold_orders

4987

In [78]:
hyderabad_revenue = df[df['city'] == 'Hyderabad']['total_amount'].sum()
hyderabad_revenue_rounded = round(hyderabad_revenue)
hyderabad_revenue_rounded

1889367

In [79]:
distinct_users = df['name'].nunique()
distinct_users

2883

In [80]:
avg_gold_order = df[df['membership'] == 'Gold']['total_amount'].mean()
round(avg_gold_order, 2)

np.float64(797.15)

In [81]:
high_rating_orders = df[df['rating'] >= 4.5].shape[0]
high_rating_orders

3374

In [82]:
# Revenue per city for Gold members
gold_city_revenue = df[df['membership'] == 'Gold'].groupby('city')['total_amount'].sum()
top_gold_city = gold_city_revenue.idxmax()

# Orders in that city
orders_top_gold_city = df[(df['membership'] == 'Gold') & (df['city'] == top_gold_city)].shape[0]
orders_top_gold_city

1337

In [83]:
df.shape[0]

10000